doctype html
html(lang='ru-RU')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Slide 
      // @echo ID
    link(rel='stylesheet', href='css/base.css')
  body
    section
      // START CONTENT 
      .content
      
        include ./content.jade
            
        nav.generateMenu
          button.generateButton._goto_1
        
      // END CONTENT 
    script(src='js/veeva-library-3.1.min.js') 
    script(src='js/quo.js')
    script(src='app.js')